body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
header {
  background-color: black;
  color: darkgray;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


main {
  display: flex;
  justify-content: space-around;
  /* margin:20px */
}

h3 {
  font-style: italic;
}
.about {
  background-color: rgb(238, 238, 238);
  width: 200px;
  padding:10px;
  margin: 20px;
}
.archive {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
article {
  width: 60%;
  column-count: 2;
}
.article-section {
  border: 1px solid rgb(86, 86, 86);
}
.thumbnail {
  background-color: rgb(95, 95, 95);
  color: white;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.article-detail{
  padding:10px;
}
.article-link {
  color:rgb(48, 125, 248)
}

.form {
  width: 20%;
  align-self: center;
}
.login-form {
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px
}

.login-form input {
  border: 1px solid gray;
  padding: 10px;
}
.checkbox-input {
  align-self: center;
  margin: 10px 0;
}
.login-button {
  background-color: rgb(48, 125, 248);
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 0;
}
footer {
  background-color: rgb(249, 249, 249);
  color: gray;
  text-align: center;
  padding: 1em;
}