body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  background-color: black;
  color: darkgray;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

main {
  display: flex;
  justify-content: space-around;
  margin:20px
}

h3 {
  font-style: italic;
}
.left-aside {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.about {
  background-color: rgb(238, 238, 238);
  padding:10px;
}
.archive {
  display: flex;
  flex-direction: column;
}
a {
  color:rgb(48, 125, 248)
}
article {
  width: 60%;
  margin-right: 10px;
}
.article-section {
  border: 1px solid rgb(86, 86, 86);
  margin-bottom: 15px;
  height: fit-content;
}
.thumbnail {
  background-color: rgb(95, 95, 95);
  color: white;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.article-detail{
  padding: 0 20px 20px;
}

.right-aside {
  width: 20%;
  display: flex;
  align-self: center;
}
.login-form {
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.login-form input {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
}
.checkbox-input {
  margin: 10px 0;
}
.login-button {
  background-color: rgb(56, 128, 243);
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 0;
  width: 100%;
}
footer {
  background-color: rgb(249, 249, 249);
  color: gray;
  text-align: center;
  padding: 1em;
}